/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	width: 100%;
	margin-bottom: 2rem;

	@media #{$mobile} {
		text-align: center;
	}
}
