/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	text-decoration: none;
	font-size: 4rem;
	font-family: $font-one;
	color: #fff;
	text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.4);
}
